.service-cards-container {
    display: flex;
    gap: 45px;
    justify-content: center;
    padding: 88px 20px;
    /* background-color: #f7f7f7; */
    flex-wrap: wrap;
  }
  
  .service-card {
    background-color: rgb(233, 233, 233);
    border-radius: 12px; 
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    width: 180px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
 
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .service-icon {
    margin-bottom: 12px;
    color: #333;
  }
  
  .service-label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  